<%- include("partials/header") -%>

<div class="container">
    <h1 class="text-primary">Admin Login</h1>
    <form action="/admin" method="post" autocomplete="off">
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" class="form-control" name="adminUserName" id="username" aria-describedby="helpId"
                required placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" name="adminPassword" id="adminPassword" aria-describedby="helpId"
                required placeholder="Enter Password">
        </div>
        <button type="submit" class="btn btn-primary" name="submit">Login</button>
    </form>
</div>